# .vscodeignore
.pnpm-debug.log
pnpm-lock.yaml
node_modules
src
tsconfig.json
.vscode
**/*.map
test
.vscode-test/**
out/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/eslint.config.mjs
**/*.ts
**/.vscode-test.*
